Options +FollowSymLinks -MultiViews
RewriteEngine on

# Controladores
RewriteRule ^auth-c$ app/AuthController.php
RewriteRule ^brand-c$ app/BrandController.php
RewriteRule ^categorie-c$ app/CategorieController.php
RewriteRule ^products-c$ app/ProductController.php
RewriteRule ^tag-c$ app/TagController.php

# Login
RewriteRule ^iniciar-sesion$ index.php
RewriteRule ^iniciar-sesion/error$ index.php?error=true

# LISTA de ProductoSSSS
RewriteRule ^productos$ products/index.php
RewriteRule ^productos/error$ products/index.php?error=true
RewriteRule ^productos/success$ products/index.php?success=true

# Detalle Producto (slug agarra letras mayus, minus, numeros y guiones)
RewriteRule ^producto/(([A-Za-z0-9-])+)$ products/details.php?slug=$1
RewriteRule ^producto/(([A-Za-z0-9-])+)/error$ products/details.php?slug=$1&error=true
RewriteRule ^producto/(([A-Za-z0-9-])+)/success$ products/details.php?slug=$1&success=true

# LISTA de UsuarioSSSS
RewriteRule ^usuarios$ users/index.php
RewriteRule ^usuarios/error$ users/index.php?error=true
RewriteRule ^usuarios/success$ users/index.php?success=true

# Detalle Usuario (acepta id numerico)
RewriteRule ^usuario/([0-9]+)$ users/details.php?id=$1
RewriteRule ^usuario/([0-9]+)/error$ users/details.php?id=$1&error=true

# LISTA de ClienteSSSS
RewriteRule ^clientes$ clients/index.php
RewriteRule ^clientes/error$ clients/index.php?error=true
RewriteRule ^clientes/success$ clients/index.php?success=true

# Detalle Cliente (acepta id numerico)
# RewriteRule ^cliente/([0-9]+)$ clients/details.php?id=$1
# RewriteRule ^cliente/([0-9]+)/error$ clients/details.php?id=$1&error=true
# RewriteRule ^cliente/([0-9]+)/success$ clients/details.php?id=$1&success=true

# Lista Marcas
RewriteRule ^catalogos/marcas$ catalogs/brands/index.php
RewriteRule ^catalogos/marcas/error$ catalogs/brands/index.php?error=true
RewriteRule ^catalogos/marcas/success$ catalogs/brands/index.php?success=true

#Lista Categorias
RewriteRule ^catalogos/categorias$ catalogs/categories/index.php
RewriteRule ^catalogos/categorias/success$ catalogs/categories/index.php?error=true
RewriteRule ^catalogos/categorias/error$ catalogs/categories/index.php?success=true

# Lista Etiquetas
RewriteRule ^catalogos/etiquetas$ catalogs/tags/index.php
RewriteRule ^catalogos/etiquetas/error$ catalogs/tags/index.php?error=true
RewriteRule ^catalogos/etiquetas/success$ catalogs/tags/index.php?success=true